In [1]:
from collections import Counter
from polymatheia.data.reader import LocalReader
from polymatheia.data.writer import PandasDFWriter
from polymatheia.filter import RecordsFilter
from polymatheia.transform import RecordsTransform

reader = LocalReader('europeana_test')

In [2]:
mapping = ('parallel', ('copy', 'id', 'id'),
                       ('copy', 'lang', 'dcLanguage[0]'),
                       ('custom', 'title_tokens', lambda record: len(record.title[0].split())),
                       ('copy', 'completeness', 'europeanaCompleteness'),
                       ('copy', 'type', 'type'))
transformed = RecordsTransform(reader, mapping)
df = PandasDFWriter().write(transformed)

In [3]:
df

,id,lang,title_tokens,completeness,type
0,/9200386/BibliographicResource_3000044752173,de,13,9,TEXT
1,/0940434/_nnbZnb3,la,15,0,TEXT
2,/9200332/ABO__2BZ22634790X,ger,6,5,TEXT
3,/2059210/data_sounds_http___imslp_org_wiki_5_L...,deu,9,0,IMAGE
4,/2048609/data_item_uber_dingler_article_pj199_...,de,12,5,TEXT
...,...,...,...,...,...
1018,/9200386/BibliographicResource_3000135531152,de,5,10,TEXT
1019,/9200386/BibliographicResource_3000045351142,de,41,10,TEXT
1020,/2048077/Athena_Plus_ProvidedCHO_Bildarchiv_Fo...,None,16,0,IMAGE
1021,/2048409/item_IVBIXA3ZCM4AYHRC3IMMY2CIFJNJMNT3,None,15,7,IMAGE
1022,/9200386/BibliographicResource_3000045248646,de,10,8,TEXT

In [5]:
Counter(df['completeness']).most_common()

[(0, 228), (8, 221), (10, 165), (7, 139), (9, 101), (5, 89), (6, 80)]

In [6]:
df['completeness'].describe()

count    1023.000000
mean        6.085044
std         3.547497
min         0.000000
25%         5.000000
50%         7.000000
75%         9.000000
max        10.000000
Name: completeness, dtype: float64

In [7]:
df['title_tokens'].describe()

count    1023.000000
mean       11.198436
std        11.947239
min         1.000000
25%         5.000000
50%         9.000000
75%        14.000000
max       249.000000
Name: title_tokens, dtype: float64

In [9]:
df['title_tokens'].describe(percentiles=[0.25, 0.5, 0.75, 0.98])

count    1023.000000
mean       11.198436
std        11.947239
min         1.000000
25%         5.000000
50%         9.000000
75%        14.000000
98%        38.000000
max       249.000000
Name: title_tokens, dtype: float64